body {
    padding: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#carte_identite,
li {
    margin-top: 20px;
}

.back {
    padding: 0;
    margin: 0;
    background-color: rgba(178, 192, 192, 0.836);
    background: url("https://images.pexels.com/photos/3489619/pexels-photo-3489619.jpeg?cs=srgb&dl=pexels-fiona-art-3489619.jpg&fm=jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.container-fluid {
    margin-top: 200px;
}