<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <button class="btn btn-outline-success col-xs-3 col-sm-3 col-md-3 col-lg-3 col-lg-3" type="button" style="width: 100px">Accueil</button>
        <button class="btn btn-sm btn-outline-secondary col-xs-3 col-sm-3 col-md-3 col-lg-3 col-lg-3" type="button" style="width: 100px" [routerLink]="['/accueil']">let's ARTISTS
        </button>
        <button class="btn btn-sm btn-outline-secondary col-xs-3 col-sm-3 col-md-3 col-lg-3 col-lg-3" type="button" style="width: 200px">CHICAGO's Crime Data
        </button>
        <button class="btn btn-sm btn-outline-secondary col-xs-3 col-sm-3 col-md-3 col-lg-3 col-lg-3" type="button" style="width: 100px">
          Parking's
        </button>
    </form>
</nav>